:root {
    --cm-px: 37.7952755906 px
}

html {
    font-family: "Merriweather" ,sans-serif;
}

#card {
    width: 750px;
    max-width:750px;
    height:1050px;
    max-height: 1050px;
    border: 2px solid black;
    background-image: url(../img/generic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.card_type {
    position: absolute;
    z-index: 3;
    top: 150px;
    left:50px;
    width: 120px;
    height: 120px;
    align-items: center; /* Center the content vertically */
    text-align: center;
    background-image: url("../img/action.png");
    background-size: cover; /* This will make the background image cover the entire div */
    background-position: center; /* Center the background image */
}
.card_type .mana {
    font-size: large;
    margin: 0px;
    line-height: 100px; /* Should match the height of the container */
    height: 100px; /* Should match the height of the container */
    vertical-align: middle; /* Center the text vertically */
    display: inline-block; /* Ensures vertical alignment works */
    text-align: center;
}

.card_type img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -20%;
}

.card .card_name{
    color: wheat;
    position: absolute;
    font-size: 300%;
    width: 85%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/name\ tag\ copy.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card_range{
    position: relative ;
    top: 30px;
    left: 700px;
}

.card h4 {
    text-align: center;
}

.card .card_img {
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

.card .card_img img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card .text-div{
    position: absolute;
    bottom: 5%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 87%;
    height: 35%;
    background-image: url(../img/lorem\ text.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    word-wrap: break-word;

}
.card .text-div h6{
    margin-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    width:500px;
}